/* タイトル */

.title {
    width: 930px;
    max-width: 90%;
    margin: 75px auto;
    text-align: center;
}


.title h1{
    font-family:"Cherry Bomb One", cursive;
    font-size:60px;
    color:#ff5ea8;
    margin-bottom:15px;
}


.title p{
    font-size:18px;
    letter-spacing:2px;
}



/* ヘッダー */

.header{
    background:#fff;
}


.header-inner{
    width:930px;
    max-width:90%;
    margin:0 auto;

    display:flex;
    align-items:center;
}


.header-logo img{

    width:150px;
    display:block;
    padding:15px 0;

}



/* 本文 */

.access{

    width:930px;
    max-width:90%;

    margin:50px auto 80px;

}



/* 事務所カード */

.office{

    background:#fff;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

    display:flex;

    align-items:center;

    gap:40px;

    padding:40px;

    margin-bottom:60px;

}



.office img{

    width:45%;

    border-radius:15px;

}



.office-text{

    flex:1;

}



.office-text h2{

    font-size:32px;

    margin-bottom:25px;

}



.office-text p{

    line-height:2;

}



/* 地図カード */

.map{

    background:#fff;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

    padding:40px;

    text-align:center;

}



.map h2{

    font-size:32px;

    margin-bottom:30px;

}



.map iframe{

    width:100%;

    max-width:700px;

    height:450px;

    border-radius:15px;

}



.map p{

    margin-top:25px;

    line-height:2;

    font-size:18px;

}



/* 背景 */

body{

    background:#fafafa;

}



/* フッター */

.footer{

    background:#000;

    color:#fff;

    text-align:center;

    padding:30px 0;

    margin-top:60px;

}



.footer .site-menu ul{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:40px;

    list-style:none;

    margin:0;

    padding:0;

}



.footer .site-menu a{

    color:#fff;

    text-decoration:none;

    font-weight:bold;

    transition:0.3s;

}



.footer .site-menu a:hover{

    color:#ff5ea8;

}



.footer .copyright{

    margin-top:20px;

}



.footer .copyright a{

    color:#fff;

    text-decoration:none;

}



.footer .copyright a:hover{

    color:#ff5ea8;

}



/* スマホ */

@media(max-width:800px){


.office{

    display:block;

}


.office img{

    width:100%;

    margin-bottom:30px;

}


.map iframe{

    height:350px;

}

}

/* カーソルを合わせた時の動き */

.office:hover,
.map:hover{

    transform:translateY(-8px);

    transition:0.3s;

}